h1 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 25px;
    padding-top: 30px;
    color: #555;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

img {
    margin: auto;
    width: 100%;
    display: block;
}

.flex-item {
    float: left;
    width: 33,33%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 15 15 15 15;
    margin: 5 5 5 5;

}

a {
    text-decoration: none;
    color: #555;
}

h2 {
    font-family: monospace;
    font-size: 20px;
}

span {
    font-family: monospace;
    font-size: 15px;
    color: #28a745;
}
